:root {
    --toggle-label-background-light: #E8E6E6;
    --toggle-label-background-dark: #2F363D;
    --toggle-light-icon-background: #2F363D;
    --background-dark: #181A1B;
    --background-light: #FFFFFF;
    --gray-color-1: #848484;
    --grey-color-2: #E9E9EA;
    --navbar-hover-color: #9E7F25;
    /*skills colors ------------------------*/
    --javascript-skill-color: #F1E05A;
    --css-skill-color: #663399;
    --html-skill-color: #E34C26;
    --typescript-skill-color: #3178C6;
    --mysql-skill-color: #26a559;
    --laravel-skill-color: #45d8d3;
    --angular-skill-color: #ffed9c;
    --vue-skill-color: #95ff00;
    --astro-skill-color: #b33257;
    --nuxt-skill-color: #00DC82;
    --react-skill-color: #58C4DC;
    --scss-skill-color: #d845ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* raleway-cyrillic-wght-normal */
@font-face {
    font-family: 'Raleway Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(@fontsource-variable/raleway/files/raleway-cyrillic-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
body {
    font-family: 'Raleway Variable';
    background: var(--background-dark);
    color: white;
}
/* light-theme --------------------------------------*/
body.light-theme {
    background: var(--background-light);
    color: black;
}
body.light-theme .contactForm .name,
body.light-theme .contactForm .email,
body.light-theme .contactForm .message {
    border: 1px solid black;
}
body.light-theme .alternalOption span {
    color: var(--gray-color-1);
}
body.light-theme .alternalOption a {
    color: black;
}
body.light-theme svg {
    fill: black;
}
body.light-theme .socialMedia svg {
    fill: white;
}

body.light-theme .languageSelectorBox .dropdown-options {
    color: white;
}
body.light-theme .logo {
    color: black;
}


/*-----------------------------------------------------*/
.section-title {
    font-size: 24px;
    font-weight: bold;
}
.text-description {
    font-size: 16px;
    color: #848484;
}

/* Switch day/night ---------------------------------------------------- */
.toggle--label {
    width: 45px;
    height: 20px;
    background: var(--toggle-label-background-dark);
    border-radius: 100px;
    display: flex;
    position: relative;
    transition: all 300ms ease-in;
}
.toggle--label:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M283.2 512c79 0 151.1-35.9 198.9-94.8 7.1-8.7-.6-21.4-11.6-19.4-124.2 23.7-238.3-71.6-238.3-197 0-72.2 38.7-138.6 101.5-174.4 9.7-5.5 7.3-20.2-3.8-22.2A258.2 258.2 0 0 0 283.2 0c-141.3 0-256 114.5-256 256 0 141.3 114.5 256 256 256z'/%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
    padding: 7.5px;
    top: -5px;
    left: 15px;
    position: absolute;
    border-radius: 82px;
    background: #FFFFFF;
    transition: all 500ms;
}
.toggle--checkbox {
    display: none;
}
.toggle--checkbox:checked + .toggle--label:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFDF5D' d='M283.2 512c79 0 151.1-35.9 198.9-94.8 7.1-8.7-.6-21.4-11.6-19.4-124.2 23.7-238.3-71.6-238.3-197 0-72.2 38.7-138.6 101.5-174.4 9.7-5.5 7.3-20.2-3.8-22.2A258.2 258.2 0 0 0 283.2 0c-141.3 0-256 114.5-256 256 0 141.3 114.5 256 256 256z'/%3E%3C/svg%3E");
    background: var(--toggle-light-icon-background);
    left: 0px;
    transition: all 500ms;
}
.toggle--checkbox:checked + .toggle--label {
    background: var(--toggle-label-background-light);
}

/* Contact form ------------------------------------------*/

.contactForm {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}
.contactForm .nameBox {
    width: 100%;
    position: relative;

}
.contactForm .emailBox {
    width: 100%;
    position: relative;
}
.contactForm .messageBox {
    width: 100%;
    position: relative;
}
.contactForm .nameBox .name {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    outline: none;

}
.contactForm .emailBox .email {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    outline: none;
}
.contactForm .messageBox .message {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 4px;
    border: none;
    padding: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    outline: none;
}
::placeholder {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway Variable';
    color: var(--gray-color-1);
    opacity: 0.8;
}
.contactForm .errorIcon ,
.contactForm .checkIcon
{
    position: absolute;
    right: 5px; /* Ajusta según el diseño */
    top: 50%;
    transform: translateY(-50%); /* Centra el ícono verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.contactForm .messageBox .checkIcon,
.contactForm .messageBox .errorIcon {
    top: 30px;
}
.contactForm .nameBox .checkIcon svg,
.contactForm .nameBox .errorIcon svg,
.contactForm .emailBox .checkIcon svg,
.contactForm .emailBox .errorIcon svg,
.contactForm .messageBox .checkIcon svg,
.contactForm .messageBox .errorIcon svg
{
    width: 20px;
    height: 20px;
    fill: white;
    border-radius: 10px;
    padding: 2px;
}
.contactForm .checkIcon svg {
    background-color: rgb(127, 196, 25);
}
.contactForm .errorIcon svg {
    background-color: red;
}
.field-error {
    margin-left: 20px;
    color: red;
}
.button-group {
    display: flex;
    justify-content: space-between;
}

.alternalOption {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 14px;
}
.alternalOption a {
    text-decoration: underline;
    color: white;
}

.sendForm {
    width: 100px;
    height: 40px;
    color: var(--gray-color-1);
    background: none;
    border: 2px solid var(--gray-color-1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.sendForm svg {
    width: 12.25px;
    height: 10.5px;
    fill: var(--gray-color-1);
}
.sendForm:hover {
    cursor: pointer;
    color: white;
    background-color: var(--gray-color-1);
}
.sendForm:hover svg {
    fill: white;
}
.container--toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.languageSelectorBox {
    position: relative;
}
.languageSelectorBox .selected {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.languageSelectorBox .selected .languageSelected {
    width: 70px;
}
.languageSelectorBox .selected svg {
    width: 15px;
}
.languageSelectorBox .dropdown-options {
    display: none;
    position: absolute;
    width: 120px;
    margin-top: 10px;
    background-color: var(--toggle-label-background-dark);
    list-style: none;
}
.languageSelectorBox .dropdown-open {
    display: block;
}
.languageSelectorBox .dropdown-options li {
    padding: 5px 5px 5px 20px;
}
.languageSelectorBox .dropdown-options li:hover{
    cursor: pointer;
    background-color: var(--gray-color-1);
}

.menu-burguer {
    display: none;
    background: none;
    border: none;
}

svg {
    fill: white;
    width: 20px;
    height: 20px;
}
/* skills colors ---------------------------------------*/
.javascript {
    background-color: var(--javascript-skill-color);
}
.css {
    background-color: var(--css-skill-color);
}
.html {
    background-color: var(--html-skill-color);
}
.typescript {
    background-color: var(--typescript-skill-color);
}
.mysql {
    background-color: var(--mysql-skill-color);
}
.laravel {
    background-color: var(--laravel-skill-color);
}
.angular {
    background-color: var(--angular-skill-color);
}
.vue {
    background-color: var(--vue-skill-color);
}
.jest {
    background-color: var(--jest-skill-color);
}
.astro {
    background-color: var(--astro-skill-color);
}
.react {
    background-color: var(--react-skill-color);
}
.nuxt {
    background-color: var(--nuxt-skill-color);
}
.scss {
    background-color: var(--scss-skill-color);
}

.header .divAnimated {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background: linear-gradient(to bottom right, var(--navbar-hover-color) 50%, transparent 50%);
    z-index: -1;
    transition: all 0.3s ease-in;
}
.header .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

@media (hover: hover) {
    .header .logo:hover ~ .divAnimated {
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 1160px) {
    .socialMediaBox {
        display: none;
    }
    .contactForm {
        width: 100%;
    }
    .menu-burguer {
        display: block;
    }

    .menu-open .logoBox{
        display: none;
    }
}

@media (max-width: 750px) {
    .educationCard {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .button-group {
        flex-direction: column;
        gap: 20px;
    }
    .button-group .sendForm {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    .button-group .alternalOption span , 
    .button-group .alternalOption a 
    {
        width: 100%;
        text-align: center;
    }
}